<% page.posts.each(function(item){ %>
  
  <div class="archive titlelist">
    <article class="<%= item.layout %>">
      <div class="post-content animated fadeIn">
        <header>
            <% if (item.link){ %>
              <a href="<%- config.root %><%- item.path %>"><div class="icon"></div></a>
              <% if (item.title){ %>
                <h2 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h2>
              <% } else { %>
                <h2 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h2>
              <% } %>
            <% } else { %>
              <div class="icon depth"><a href="<%- config.root %><%- item.path %>"> </a></div>
              <h2 class="depth title" ><a class="animated" href="<%- config.root %><%- item.path %>"><%= item.title %></a></h2>
            <% } %>
            <time class="time title depth" datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
          </header>
      </div>
    </article>
  </div>

  <% if (theme.bighomepage){ %>
    <div class="<%= item.title.replace(/\s+/g,"") %> detail animated fadeIn" style="display: none;">
      <%- partial('_partial/article', {item: item, index: false}) %>
      <nav id="pagination">
        <a href="<%- config.root %><%- item.path %>#comment" class="alignright next">View & Post Comments</a>
        <div class="clearfix"></div>
      </nav>
    </div>
  <% } %>

<% }); %>



<% if (theme.bighomepage){ %>
  <script>
  $(".archive").click(function (e) {
      if ($("title").text() == "<%- config.title %>"){
          if (e.target.href){
              $(".animated:contains(\'"+e.target.innerText+"\')").addClass("bounceOut");
              setTimeout(function(){
                  var pagelink=e.target.innerText;
                  loadpage(pagelink);
                  $(".animated:contains(\'"+e.target.innerText+"\')").removeClass("bounceOut");
                  history.pushState( pagelink, $("title").text(), e.target.href);
              }, 500);
          }
      }
      return false;
  });
  </script>
  <script>
  $(".backtohome").click(function () {
      if ($("title").text() != "<%- config.title %>"){
          setTimeout(function(){
              loadpage();
              history.pushState( null, $("title").text(), "/");
          }, 150);
      }
      return false;
  });
  </script>
  <script>
  function loadpage(pagelink) {
      if (pagelink){
          $("title").text(pagelink + " | <%- config.title %>");
          $(".titlelist").css("display","none");
          $("." + pagelink.replace(/\s+/g,"")).css("display","")
      } else {
          $("title").text("<%- config.title %>");
          $(".detail").css("display","none");
          $(".titlelist").css("display","");
      }
  };
  </script>
  <script>
  window.addEventListener('popstate', function(e) {
          loadpage(e.state);
      },false);
  </script>
<% } %>


<%- partial('_partial/pagination') %>
