<!-- <% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %> -->
<div class="personal-info">
  <figure>
    <img class="personal-photo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/c0.0.160.160/p160x160/275139_1134525339_704369436_n.jpg" alt="Thiago Pontes">
    <figcaption>
      <h3><%- theme.name %></h3>
      <p><%- theme.about %></p>
    </figcaption>
  </figure>
  <section class="social">
    <% if( theme.twitter.username ) { %>
      <a target="_blank" class="icon twitter" href="http://twitter.com/<%- theme.twitter.username %>"></a>
    <% } %>
    <% if( theme.facebook ) { %>
      <a target="_blank" class="icon facebook" href="http://fb.com/<%- theme.facebook %>"></a> 
    <% } %>
    <% if( theme.github) { %>
      <a target="_blank" class="icon github" href="http://github.com/<%= theme.github %>"></a>
    <% } %>
    <% if( theme.email ) { %>
      <a target="_blank" class="icon email" href="mailto:<%- theme.email %>"></a>
    <% } %>
  </section>
</div>
